/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.chirpButtons:hover {
    cursor: pointer;
    background-color: rgb(220,53,69,0.5)
}
